@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto&display=swap');

/* font-family: 'Cinzel', serif;
font-family: 'Roboto', sans-serif; */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

main {
    min-height: 100vh;
}

h1,
h2,
h3,
h4 {
    font-family: 'Cinzel', serif;
}

p,
label,
input,
select,
a,
button,
option {
    font-family: 'Roboto', sans-serif;
}

form,
section,
header,
main,
footer,
blockquote {
    display: flex;
    flex-direction: column;
}

table {
    display: block;
    overflow-y: scroll;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

input, select {
    height: 2.4rem;
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}

@media screen and (min-width:1200px) {
    h1 {
        font-size: 56px;
    }

    h2 {
        font-size: 50px;
    }

    h3 {
        font-size: 46px;
    }

    h4 {
        font-size: 42px;
    }

    p,
    label,
    input,
    select,
    a,
    button,
    option {
        font-size: 34px;
    }
}

@media screen and (min-width:900px) and (max-width:1199px) {
    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 42px;
    }

    h3 {
        font-size: 38px;
    }

    h4 {
        font-size: 34px;
    }

    p,
    label,
    input,
    select,
    a,
    button,
    option {
        font-size: 26px;
    }
}

@media screen and (min-width:320px) and (max-width:899px) {
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 34px;
    }

    h3 {
        font-size: 30px;
    }

    h4 {
        font-size: 26px;
    }

    p,
    label,
    input,
    select,
    a,
    button,
    option {
        font-size: 18px;
    }
}

@media screen and (max-width:319px) {
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 22px;
    }

    h4 {
        font-size: 18px;
    }

    p,
    label,
    input,
    select,
    a,
    button,
    option {
        font-size: 10px;
    }
}