.card {
    border: 1px solid #bac6d3;
    border-radius: 8px;
    padding: 1rem;
    animation-name: rollIn;
    animation-duration: 2s;
}
#titre
{
    text-align: center;
}

.carousel-items {
    display: flex;
    padding: 1rem 0;
}

.carousel-item {
    display: flex;
    padding: 1rem 0;
}

.Tunisie h2
{
    border-top: 4px dotted gray;
    position: relative;
    top: 5px;
    padding-top: 2%;
    animation-name: rollIn;
    animation-duration: 2s;

}