/*main*/


/*Cadre résumé*/

.card {
    border: 1px solid #bac6d3;
    border-radius: 8px;
    padding: 1rem;
    height: 100%;
    animation-name: rollIn;
    animation-duration: 2s;
}

#titre {
    text-align: center;
}

.carousel-items {
    display: flex;
    overflow-x: scroll;
    padding: 1rem 0;
}

.carousel-item {
    flex: 1 0 250px;
    margin-left: 1rem;
}

.Tunisie h2 {
    border-top: 4px dotted gray;
    position: relative;
    top: 5px;
    padding-top: 2%;
    animation-name: rollIn;
    animation-duration: 2s;
}

.taille_A
{
    width: 99.9%;
}
.taille_B
{
    width: 100%;
}

/*block droite*/

p {
    font-size: 20px;
    padding: 0 10px;
}

.right,
.droite {
    animation-name: rollIn;
    animation-duration: 2s;
}

.right {
    display: flex;
    flex-direction: row;
}

.droite {
    text-align: right;
}


/*block gauche*/

.left,
.gauche {
    animation-name: rollIn;
    animation-duration: 2s;
}

.left {
    display: flex;
    flex-direction: row-reverse;
    animation-name: rollIn;
    animation-duration: 2s;
}

.gauche {
    text-align: left;
}


/*fondu images*/

.fondu_img {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    -ms-filter: grayscale(1);
}

.fondu_img:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
    -ms-filter: grayscale(0);
    transition: all 225ms 0ms ease-in-out
}