/* MAIN */

main {
    padding: 2rem;
}


/* SECTION 1 */

.block-item-1 h1 {
    text-align: center;
    padding-top: 50px;
}

.bg-cover-welcome-las-vegas {
    background-image: url(../img/pictures/las_vegas/welcome.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin-top: 50px;
    height: 50vh;
    width: 100%;
}


/* SECTION 2 */

.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-2 img:hover {
    transform: scale(1.5, 1.5);
}

.go-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin:50px;
    width: fit-content;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 3px;
    overflow: hidden;
}

.section-2 h2 {
    padding-right: 23%;
}

.section-2 img {
    width: 15em;
    transition: 0.3s;
}


/* SECTION 3 */

.block-item-3 span {
    text-transform: uppercase;
    text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0, 0, 0, 0.15);
}

.pic-n-description {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 3px;
    overflow: hidden;
    background-color: black;
}

.pic-n-description img {
    width: 100%;
}

.description p,
h3 {
    padding: 20px;
}

.description h3 {
    margin-top: 15px;
}

.description P {
    box-shadow: 0 0 8px 3px #dfdfdf;
    border-radius: 5%;
}

.description h3 {
    text-align: center;
}


/* SECTION 4 */

.bg-cover-welcome-gastronomie {
    background-image: url(../img/pictures/las_vegas/plat-gastronomique.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 50px;
    height: 50vh;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 3px;
    overflow: hidden;
}

.block-item-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block-item-4 button {
    margin-top: 20px;
}

.block-item-4 button a {
    color: black;
}

.block-item-4 ul {
    margin-top: 20px;
}

.block-item-4 ul :nth-of-type(1) {
    font-weight: bold;
}

.block-item-4 ul li:nth-of-type(even) {
    background-color: #F0F0F0;
    width: 100%;
}


/* SECTION 5 */

.page-ajustement-3 {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-ajustement-3 p {
    padding-left: 30px;
}

footer {
    height: 10vh;
    background-color: tomato;
}

.section-5 h2 {
    text-decoration: underline;
    text-align: center;
}

.deplacement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.deplacement h3 {
    text-align: center;
}

.bg-cover-welcome-deplacement {
    background-image: url(../img/pictures/las_vegas/bus-las-vegas.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 50px;
    height: 100vh;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 3px;
    overflow: hidden;
}

@media screen and (min-width:1200px) {
    .section-5 h2 {
        text-decoration: underline;
        text-align: center;
    }
    .section-5 h3 {
        text-align: right;
    }
    .section-5 p {
        margin: 15px;
    }
    .bg-cover-welcome-hot {
        background-image: url(../img/pictures/las_vegas/empty-road-hot.jpg);
        background-size: cover;
        background-attachment: scroll;
        margin-top: 50px;
        height: 100vh;
        width: 100%;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        border-radius: 3px;
        overflow: hidden;
    }
    .quand-y-aller div {
        width: 50%;
    }
    .section-5 h3 {
        text-align: right;
    }
    .block-principal {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .block-principal div {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        border-radius: 3px;
        overflow: hidden;
        margin: 30px;
        height: 430px;
        width: 500px;
        transition: 0.3s;
    }
    .quand-y-aller {
        display: flex;
    }
    .quand-y-aller img {
        width: 33%;
        margin-right: 20px;
    }
}

@media screen and (max-width:1199px) {
    .section-5.quand-y-aller {
        display: flex;
        flex-direction: column;
    }
    .page-ajustement-3,
    .bg-cover-welcome-hot {
        min-width: 100%;
    }
    h1,
    h2,
    .section-5 h3 {
        text-align: center;
    }
    .block-principal {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .block-principal div {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        border-radius: 3px;
        overflow: hidden;
        margin: 30px;
        height: 430px;
        width: 500px;
        transition: 0.3s;
    }
    .bg-cover-welcome-hot {
        background-image: url(../img/pictures/las_vegas/empty-road-hot.jpg);
        background-size: cover;
        background-attachment: scroll;
        margin-top: 50px;
        height: 100vh;
        width: 100%;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        border-radius: 3px;
        overflow: hidden;
    }
}


/* SECTION 6 */

.block-principal div:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.block-principal h3 {
    text-align: center;
    color: black;
}

.block-principal img {
    width: 612px;
    height: 408px;
}


/* SECTION 7 & 8*/

.center-h2 {
    text-align: center;
}

.center-h2 button a {
    color: black;
}