.page-menu li {
    background-color: var(--regent-saint-blue-overlay-medium);
}

.bg-landing {
    background: var(--regent-saint-blue);
    background: radial-gradient(circle, #FFF 0%, var(--regent-saint-blue) 100%);
}

section.destination-full {
    margin: 0;
    padding: 0;
}

.destination-full .row {
    justify-content: end;
    padding: 2rem;
}


/*CARDS PAGE SPECIFIC*/

.card-landing {
    height: 12rem;
    width: 15rem;
    position: absolute;
    background-color: #FFF;
    transform-origin: bottom left;
    overflow: hidden;
    transition: all 1s ease-in-out;
    cursor: pointer;
}

.card-landing .body,
.card-landing .footer {
    overflow: hidden;
    width: 100%;
}

.card-landing .body {
    height: 90%;
    background-color: thistle;
}

.card-landing .footer {
    height: 10%;
}

.card-landing:nth-child(odd) .footer {
    background-color: var(--aquamarine-light);
}

.card-landing:nth-child(even) .footer {
    background-color: var(--regent-saint-blue-light);
}

.card-landing .body img.full {
    height: 100%;
    width: 100%;
}

.circle {
    height: 20rem;
    width: 20rem;
    background-color: #fff;
}


/*Z INDEX utilities*/

.z-0 {
    z-index: 0;
}

.z-1 {
    z-index: 1;
}

.z-2 {
    z-index: 2;
}

.z-3 {
    z-index: 3;
}

.z-4 {
    z-index: 4;
}

.z-5 {
    z-index: 5;
}

.z-6 {
    z-index: 6;
}

.z-100 {
    z-index: 100;
}