/*main*/


/*carousel*/

ul {
    margin: 0 0 1.5rem;
    padding: 0;
}

li {
    display: inline-block;
}

img {
    height: auto;
    margin-bottom: .5rem;
    max-width: calc(100% + 2rem);
    position: relative;
}

p {
    margin: 0 0;
}

main {
    padding: 1rem 2rem;
    margin: auto;
}

.card {
    border: 1px solid #bac6d3;
    border-radius: 8px;
    padding: 1rem;
    height: 100%;
    animation-name: rollIn;
    animation-duration: 2s;
}

#titre {
    text-align: center;
}

.carousel-items {
    display: flex;
    overflow-x: scroll;
    padding: 1rem 0;
}

.carousel-item {
    flex: 1 0 250px;
    margin-left: 1rem;
}

.Tunisie h2 {
    border-top: 4px dotted gray;
    position: relative;
    top: 5px;
    padding-top: 2%;
    animation-name: rollIn;
    animation-duration: 2s;
}


/*block droite*/

p {
    font-size: 20px;
    padding: 0 10px;
}

.right,
.droite {
    animation-name: rollIn;
    animation-duration: 2s;
}

.right {
    display: flex;
    flex-direction: row;
}

.droite {
    text-align: center;
    margin: 20px;
}

.the_burger {
    margin: auto;
}


/*block gauche*/

.left,
.gauche {
    animation-name: rollIn;
    animation-duration: 2s;
}

.left {
    display: flex;
    flex-direction: row-reverse;
    animation-name: rollIn;
    animation-duration: 2s;
}

.gauche {
    margin: auto;
}

.center {
    text-align: center;
}

.p_center {
    text-align: center;
    animation-name: rollIn;
    animation-duration: 2s;
}


/*fondu images*/

.fondu_img {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    -ms-filter: grayscale(1);
}

.fondu_img:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
    -ms-filter: grayscale(0);
    transition: all 225ms 0ms ease-in-out
}

.las_vegas_strip {
    width: 65%;
}