@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Varela&display=swap');
html {
    /*COLOR SCHEME*/
    --regent-saint-blue: #A2C2DA;
    --mustard: #ffe14e;
    --aquamarine: #4effac;
    --regent-saint-blue-light: #a9ddd6;
    --mustard-light: #fffb20;
    --aquamarine-light: #7effc2;
    /*OVERLAYS*/
    /*LIGHT*/
    --regent-saint-blue-overlay-light: rgba(162, 194, 218, .25);
    --mustard-overlay-light: rgba(255, 225, 78, .25);
    --aquamarine-overlay-light: rgba(78, 255, 172, .25);
    /*MEDIUM*/
    --regent-saint-blue-overlay-medium: rgba(162, 194, 218, .50);
    --mustard-overlay-medium: rgba(255, 225, 78, .50);
    --aquamarine-overlay-medium: rgba(78, 255, 172, .50);
    /*HIGH*/
    --regent-saint-blue-overlay-high: rgba(162, 194, 218, .75);
    --mustard-overlay-high: rgba(255, 225, 78, .75);
    --aquamarine-overlay-high: rgba(78, 255, 172, .75);
}

body {
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

main {
    min-height: 100vh;
}

h1,
h2,
h3,
h4 {
    font-family: 'Varela', sans-serif;
}

p,
label,
input,
select,
a,
li,
button,
option {
    font-family: 'Roboto', sans-serif;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
}


/*SECTIONS*/


/*DESTINATION */

section.destination-quarter,
section.destination-half,
section.destination-two-third,
section.destination-full {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;
}

section.destination-quarter {
    min-height: 25vh;
}

section.destination-half {
    min-height: 50vh;
}

section.destination-two-third {
    min-height: 66vh;
}

section.destination-three-quarter {
    min-height: 75vh;
}

section.destination-full {
    min-height: 100vh;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.min-h-66vh {
    min-height: 66vh;
}

.min-h-33vh {
    min-height: 33vh;
}

.min-h-100vh {
    min-height: 100vh;
}


/* KEYFRAMES */


/*fadeIn*/

@keyframes voyagez {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes bounceInUp {
    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }
    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes bounceInUp {
    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }
    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes bounceInLeft {
    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }
    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes bounceInLeft {
    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }
    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }
    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes rollIn {
    from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}


/* MEDIAS HEADER PLANE LOGO */

@media screen and (min-width:1200px) {
    #plane_icon_header,
    #plane_icon_header_landing {
        width: 56px;
    }
}

@media screen and (min-width: 900px) and (max-width:1199px) {
    #plane_icon_header,
    #plane_icon_header_landing {
        width: 48px;
    }
}

@media screen and (min-width:320px) and (max-width:899px) {
    #plane_icon_header,
    #plane_icon_header_landing {
        width: 40px;
    }
}

@media screen and (max-width:319px) {
    #plane_icon_header,
    #plane_icon_header_landing {
        width: 32px;
    }
}

#plane_icon_header,
#plane_icon_header_landing {
    -webkit-animation-name: bounceInUp;
    animation-name: bounceInUp;
    animation-duration: 3s;
}


/* NAV */

nav {
    position: absolute;
    bottom: 0;
    z-index: 30000;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

nav ul li {
    cursor: pointer;
    transition: 0.3s;
}

nav li:hover {
    color: var(--hoverColor);
}


/*TABLES*/

table {
    align-self: center;
    overflow-y: scroll;
    border-collapse: collapse;
    table-layout: fixed;
    margin: 15px;
    width: 100%;
    animation-name: rollIn;
    animation-duration: 2s;
}

.table_center_main {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
}

table th:nth-child(1) {
    width: 10vw;
}

table th:nth-child(2) {
    width: 40vw;
}

th {
    background-color: #FFF;
    min-height: 5rem;
}

tr:nth-child(odd) {
    background-color: #F0F0F0;
}

tr:nth-child(even) {
    background-color: ;
}

tr td:nth-child(even) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

tr td,
tr th {
    min-height: 4rem;
}

table img {
    height: 2.5rem;
    width: 2.5rem;
}

input,
select {
    height: 2rem;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

@media screen and (min-width:1200px) {
    h1 {
        font-size: 56px;
    }
    h2 {
        font-size: 50px;
    }
    h3 {
        font-size: 46px;
    }
    h4 {
        font-size: 42px;
    }
    html,
    label,
    input,
    select,
    a,
    li,
    button,
    option {
        font-size: 34px;
    }
}

@media screen and (min-width:900px) and (max-width:1199px) {
    h1 {
        font-size: 48px;
    }
    h2 {
        font-size: 42px;
    }
    h3 {
        font-size: 38px;
    }
    h4 {
        font-size: 34px;
    }
    html,
    label,
    input,
    select,
    a,
    li,
    button,
    option {
        font-size: 26px;
    }
}

@media screen and (min-width:320px) and (max-width:899px) {
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 34px;
    }
    h3 {
        font-size: 30px;
    }
    h4 {
        font-size: 26px;
    }
    html,
    label,
    input,
    select,
    a,
    li,
    button,
    option {
        font-size: 18px;
    }
}

@media screen and (max-width:319px) {
    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 26px;
    }
    h3 {
        font-size: 22px;
    }
    h4 {
        font-size: 18px;
    }
    html,
    label,
    input,
    select,
    a,
    li,
    button,
    option {
        font-size: 10px;
    }
}


/*BUTTONS*/

button {
    border: none
}

.btn-sm,
.btn-md,
.btn-lg {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    border-radius: .5rem;
    cursor: pointer;
}

.btn-sm {
    height: 1.5rem;
    width: 6rem;
}

.btn-md {
    height: 2rem;
    width: 9rem;
}

.btn-lg {
    height: 2.5rem;
    width: 12rem;
    padding: 1rem;
}

.btn-sm.regent-saint-blue,
.btn-md.regent-saint-blue,
.btn-lg.regent-saint-blue {
    background-color: var(--regent-saint-blue);
    transition: all 1s ease-in-out;
}

.btn-sm.regent-saint-blue:hover,
.btn-md.regent-saint-blue:hover,
.btn-lg.regent-saint-blue:hover {
    box-shadow: inset 15rem 0 0 var(--regent-saint-blue-light);
}

.btn-sm.mustard,
.btn-md.mustard,
.btn-lg.mustard {
    background-color: var(--mustard);
    transition: all 1s ease-in-out;
}

.btn-sm.mustard:hover,
.btn-md.mustard:hover,
.btn-lg.mustard:hover {
    box-shadow: inset 15rem 0 0 var(--mustard-light);
}

.btn-sm.aquamarine,
.btn-md.aquamarine,
.btn-lg.aquamarine {
    background-color: var(--aquamarine);
    transition: all 1s ease-in-out;
}

.btn-sm.aquamarine:hover,
.btn-md.aquamarine:hover,
.btn-lg.aquamarine:hover {
    box-shadow: inset 15rem 0 0 var(--aquamarine-light);
}


/*DROPDOWNS*/

.dropdown-lg,
.dropdown-md,
.dropdown-sm,
.dropup-lg,
.dropup-md,
.dropup-sm {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #000;
    position: relative;
}

.dropdown-lg p,
.dropdown-lg ul,
.dropdown-lg li,
.dropdown-lg a,
.dropup-lg p,
.dropup-lg ul,
.dropup-lg li,
.dropup-lg a {
    font-size: 1rem;
}

.dropdown-md p,
.dropdown-md ul,
.dropdown-md li,
.dropdown-md a,
.dropup-md p,
.dropup-md ul,
.dropup-md li,
.dropup-md a {
    font-size: .75rem;
}

.dropdown-sm p,
.dropdown-sm ul,
.dropdown-sm li,
.dropdown-sm a,
.dropup-sm p,
.dropup-sm ul,
.dropup-sm li,
.dropup-sm a {
    font-size: .5rem;
}

.dropdown-lg p,
.dropdown-md p,
.dropdown-sm p,
.dropup-lg p,
.dropup-md p,
.dropup-sm p {
    margin-left: 1rem;
    position: relative;
    z-index: 500;
}

.dropdown-lg img,
.dropdown-md img,
.dropdown-sm img {
    border: #000 1px solid;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    transform: rotate(90deg);
    margin-left: 1rem;
    background-color: #FFF;
    cursor: pointer;
}

.dropup-lg img,
.dropup-md img,
.dropup-sm img {
    border: #000 1px solid;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    transform: rotate(-90deg);
    margin-left: 1rem;
    background-color: #FFF;
    cursor: pointer;
}


/*DROPDOWNS*/

.dropdown-lg img {
    height: 2.5rem;
    width: 2.5rem;
    padding: .75rem;
}

.dropdown-md img {
    height: 2rem;
    width: 2rem;
    padding: .5rem;
}

.dropdown-sm img {
    height: 1.5rem;
    width: 1.5rem;
    padding: .25rem;
}

.dropdown-sm {
    height: 1.5rem;
    width: 6rem;
}

.dropdown-md {
    height: 2rem;
    width: 9rem;
}

.dropdown-lg {
    height: 2.5rem;
    width: 12rem;
}


/*DROPUPS*/

.dropup-lg img {
    height: 2.5rem;
    width: 2.5rem;
    padding: .75rem;
}

.dropup-md img {
    height: 2rem;
    width: 2rem;
    padding: .5rem;
}

.dropup-sm img {
    height: 1.5rem;
    width: 1.5rem;
    padding: .25rem;
}

.dropup-sm {
    height: 1.5rem;
    width: 6rem;
}

.dropup-md {
    height: 2rem;
    width: 9rem;
}

.dropup-lg {
    height: 2.5rem;
    width: 12rem;
}

.dropdown-sm.regent-saint-blue,
.dropdown-md.regent-saint-blue,
.dropdown-lg.regent-saint-blue,
.dropup-sm.regent-saint-blue,
.dropup-md.regent-saint-blue,
.dropup-lg.regent-saint-blue {
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}

.dropdown-sm.regent-saint-blue:hover,
.dropdown-md.regent-saint-blue:hover,
.dropdown-lg.regent-saint-blue:hover,
.dropup-sm.regent-saint-blue:hover,
.dropup-md.regent-saint-blue:hover,
.dropup-lg.regent-saint-blue:hover {
    box-shadow: inset 10rem 0 0 var(--regent-saint-blue-light);
    -webkit-box-shadow: inset 10rem 0 0 var(--regent-saint-blue-light);
}

.dropdown-sm.mustard,
.dropdown-md.mustard,
.dropdown-lg.mustard,
.dropup-sm.mustard,
.dropup-md.mustard,
.dropup-lg.mustard {
    background-color: var(--mustard);
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}

.dropdown-sm.mustard:hover,
.dropdown-md.mustard:hover,
.dropdown-lg.mustard:hover,
.dropup-sm.mustard:hover,
.dropup-md.mustard:hover,
.dropup-lg.mustard:hover {
    box-shadow: inset 10rem 0 0 var(--mustard-light);
    -webkit-box-shadow: inset 10rem 0 0 var(--mustard-light);
}

.dropdown-sm.aquamarine,
.dropdown-md.aquamarine,
.dropdown-lg.aquamarine,
.dropup-sm.aquamarine,
.dropup-md.aquamarine,
.dropup-lg.aquamarine {
    background-color: var(--aquamarine);
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}

.dropdown-sm.aquamarine:hover,
.dropdown-md.aquamarine:hover,
.dropdown-lg.aquamarine:hover,
.dropup-sm.aquamarine:hover,
.dropup-md.aquamarine:hover,
.dropup-lg.aquamarine:hover {
    box-shadow: inset 10rem 0 0 var(--aquamarine-light);
    -webkit-box-shadow: inset 10rem 0 0 var(--aquamarine-light);
}


/*DROPDOWN HOVER*/

.dropdown-lg img:hover,
.dropdown-md img:hover,
.dropdown-sm img:hover,
.dropup-lg img:hover,
.dropup-md img:hover,
.dropup-sm img:hover {
    z-index: 5000;
}

.dropdown-content:hover+.img-arrow,
.dropup-content:hover+.img-arrow {
    z-index: 5000;
}

.dropdown-lg img:hover+.dropdown-content,
.dropdown-md img:hover+.dropdown-content,
.dropdown-sm img:hover+.dropdown-content,
.dropup-lg img:hover+.dropup-content,
.dropup-md img:hover+.dropup-content,
.dropup-sm img:hover+.dropup-content {
    display: flex;
    position: absolute;
    background-color: #FFF;
    z-index: 1000;
    padding: 1rem;
    width: 100%;
}


/*DROPDOWN*/

.dropdown-lg img:hover+.dropdown-content {
    top: 2.5rem
}


/*DROPUP*/

.dropup-lg img:hover+.dropup-content {
    bottom: 2.5rem
}


/*DROPDOWN*/

.dropdown-md img:hover+.dropdown-content {
    top: 2rem
}


/*DROPUP*/

.dropup-md img:hover+.dropup-content {
    bottom: 2rem
}


/*DROPDOWN*/

.dropdown-sm img:hover+.dropdown-content {
    top: 1.5rem
}


/*DROPUPS*/

.dropup-sm img:hover+.dropup-content {
    bottom: 1.5rem
}

.dropdown-content,
.dropdown-content-js,
.dropup-content,
.dropup-content-js {
    display: none;
}


/*DROPDOWN*/

.dropdown-lg .dropdown-content-js {
    display: none;
    position: absolute;
    background-color: #FFF;
    top: 2.5rem;
    z-index: 1000;
    padding: .5rem;
    width: 100%;
}


/*DROPUP*/

.dropup-lg .dropup-content-js {
    display: none;
    position: absolute;
    background-color: #FFF;
    bottom: 2.5rem;
    z-index: 1000;
    padding: .5rem;
    width: 100%;
}


/*DROPDOWN*/

.dropdown-md .dropdown-content-js {
    display: none;
    position: absolute;
    background-color: #FFF;
    top: 2rem;
    z-index: 1000;
    padding: .5rem;
    width: 100%;
}


/*DROPUP*/

.dropup-md .dropup-content-js {
    display: none;
    position: absolute;
    background-color: #FFF;
    bottom: 2rem;
    z-index: 1000;
    padding: .5rem;
    width: 100%;
}


/*DROPDOWN*/

.dropdown-sm .dropdown-content-js {
    display: none;
    position: absolute;
    background-color: #FFF;
    top: 1.5rem;
    z-index: 1000;
    padding: .5rem;
    width: 100%;
}


/*DROPUP*/

.dropup-sm .dropup-content-js {
    display: none;
    position: absolute;
    background-color: #FFF;
    bottom: 1.5rem;
    z-index: 1000;
    padding: .5rem;
    width: 100%;
}


/*DROPDOWN*/

.dropdown-content:hover {
    display: flex;
    position: absolute;
    background-color: #FFF;
    top: 2rem;
    z-index: 1000;
    padding: 1rem;
    width: 100%;
}


/*DROPUP*/

.dropup-content:hover {
    display: flex;
    position: absolute;
    background-color: #FFF;
    top: 2rem;
    z-index: 1000;
    padding: 1rem;
    width: 100%;
}


/* TO BE REMOVED */

.button-presentation {
    flex-direction: row;
    justify-content: space-between;
}


/*FORMS*/

form.form-lg {
    width: 100%;
}

form.form-md {
    width: 66%;
}

form.form-sm {
    width: 50%;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.form-group-inline {
    display: flex;
    flex-direction: row;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

label {
    display: flex;
    flex-direction: row;
    align-items: center;
}

input[type=checkbox],
input[type=radio] {
    margin-left: .5rem;
    transform: scale(1.5);
    -moz-transform: scale(1.5);
}

.form-md {
    margin: auto;
}

.btn-md {
    margin: auto;
}


/*FOOTER*/

footer .row:nth-child(1) {
    height: 33vh;
}

footer .row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #F7F7F7;
}

.row.brand {
    height: 5vh;
}

footer {
    display: flex;
    flex-direction: column;
}

footer .col {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

footer li {
    margin-top: .25rem;
    margin-bottom: .25rem;
    display: flex;
    flex-direction: column;
}

footer h5 {
    font-size: .5rem;
}

footer a {
    font-size: .5rem;
    color: rgb(58, 58, 58);
}

footer a:hover {
    color: black;
}

footer p.brand {
    font-size: .5rem;
}


/*JUMBOTRON */

section.jumbotron {
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
}

section.jumbotron video {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 0;
}

.jumbotron img.one-third {
    height: 50%;
    width: 33%;
}

.jumbotron div.one-third-container {
    height: 100vh;
    width: 33vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.jumbotron h1.title {
    font-size: 2rem;
}

.jumbotron h2.title {
    font-size: 3rem;
}


/*PAGE MENU */

.page-menu,
.page-menu-light {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-left: 1rem;
}

.page-menu li,
.page-menu-light li {
    height: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    transition: box-shadow .5s ease-in-out;
    width: 33%;
}

.page-menu a {
    color: #FFF;
    transition: color .5s ease-in;
}

.page-menu-light a {
    color: #000;
    transition: color .5s ease-in;
}

.page-menu li:hover,
.page-menu-light li:hover {
    box-shadow: inset 0 4rem 0 0 var(--mustard);
}

.page-menu li:hover a,
.page-menu-light li:hover a {
    color: #000;
}


/*LAYOUT UTLITIES*/

.col {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

.col img.full {
    height: 100%;
    width: 100%;
}

.row {
    flex-direction: row;
}

.row-reverse {
    flex-direction: row-reverse;
}


/*OVERLAYS*/

.bg-overlay-white-light,
.bg-overlay-white-medium,
.bg-overlay-white-high,
.bg-overlay-dark-light,
.bg-overlay-dark-medium,
.bg-overlay-dark-high {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bg-overlay-white-light,
.bg-overlay-white-medium,
.bg-overlay-white-high {
    color: #000;
}

.bg-overlay-dark-light,
.bg-overlay-dark-medium,
.bg-overlay-dark-high {
    color: #FFF
}

.bg-overlay-white-light {
    background-color: rgba(255, 255, 255, 0.5);
}

.bg-overlay-white-medium {
    background-color: rgba(255, 255, 255, 0.66);
}

.bg-overlay-white-high {
    background-color: rgba(255, 255, 255, 0.90);
}

.bg-overlay-dark-light {
    background-color: rgba(0, 0, 0, 0.2);
}

.bg-overlay-dark-medium {
    background-color: rgba(0, 0, 0, 0.66);
}

.bg-overlay-dark-high {
    background-color: rgba(0, 0, 0, 0.90);
}


/*ABSOLUTE POSITIONNING*/

.absolute {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 500;
}


/*SIZING UTILITIES*/

.w-33 {
    width: 33%;
}

.w-50 {
    width: 50%;
}

.w-66 {
    width: 66%;
}

.w-80 {
    width: 80%;
}

.w-90 {
    width: 90%;
}

.w-100 {
    width: 100%;
}

.w-133 {
    width: 133%;
}

.w-150 {
    width: 150%;
}

.w-166 {
    width: 166%;
}

.w-200 {
    width: 200%;
}

.w-300 {
    width: 300%;
}


/*MARGIN PADDING UTILITIES*/

.p-0 {
    padding: 0;
}

.m-0 {
    margin: 0;
}

.ml-2 {
    margin-left: 2rem;
}

.mr-2 {
    margin-right: 2rem;
}

.my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.my-4 {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.mb-half-point {
    margin-bottom: .5rem;
}


/*POSITION UTILITIES*/

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.absolute-bottom {
    position: absolute;
    bottom: 0;
}

.bottom-none {
    bottom: unset;
}

.z-100 {
    z-index: 100;
}

.z-200 {
    z-index: 200;
}


/*BACKGROUNDS COLORS UTILITIES*/

.bg-white {
    background-color: #FFF;
}

.bg-overlay-gradient {
    background: rgb(223, 223, 223);
    background: linear-gradient(-90deg, rgba(223, 223, 223, 0.66) 35%, rgba(32, 32, 32, 0.66) 100%);
}


/*TEXT UTILITIES*/

.text-white {
    color: #FFF;
}

.text-dark {
    color: #000;
}


/*DISPLAY UTILITIES*/

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.flex-dir-col {
    display: flex;
    flex-direction: column;
}

.flex-dir-row {
    display: flex;
    flex-direction: row;
}


/*FLEX UTILITIES*/

.destination-full .row.justify-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.justify-evenly {
    justify-content: space-evenly;
}

.align-center {
    align-items: center;
}

.align-self-end {
    align-self: flex-end;
}

.align-self-start {
    align-self: flex-start;
}


/*BLOCKQUOTE*/

blockquote {
    text-align: center;
}

blockquote::before {
    content: "\201C";
    font-size: 2rem;
}

blockquote::after {
    content: "\201D";
    font-size: 2rem;
}


/*HOVER EFFECTS*/

.filter-sepia-50 {
    filter: sepia(50);
    transition: filter .5s ease-in-out;
}

.filter-sepia-50:hover {
    filter: none;
}

.filter-grayscale-50 {
    filter: grayscale(50);
    transition: filter .5s ease-in-out;
}

.filter-grayscale-50:hover {
    filter: none;
}

.hover-scale:hover {
    transform: scale(1.5);
}


/*MEDIA HIDDEN CONTENT*/

@media screen and (max-width:1300px) {
    .col.d-sm-xs-none {
        display: none;
    }
    .col.text {
        min-height: 50vh;
        justify-content: flex-start;
        padding: 1rem;
    }
    .destination-full {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        flex-direction: column;
        position: relative;
    }
    .absolute-sm-xs {
        position: absolute;
    }
}