/*main*/


/*SECTION*/

.container {
    height: 100vh;
    background-color: tomato;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.container .column {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.column:nth-child(even) {
    background-color: turquoise;
}

.column.w-200 {
    width: 200%;
}


/*BACKGROUNDS*/

.bg-photo {
    background-image: url(../img/backgrounds/blue_lagoon_island.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}