/*GENERAL MARKUP DESIGN*/

* {
    margin: 0;
    padding: 0;
    outline: 0;
}


/*BREAKPOINTS*/


/*XS BREAKPOINT*/

@media screen and (min-width: 380px) and (max-width: 599px) {
}


/*SM BREAKPOINT*/

@media screen and (min-width: 600px) and (max-width: 960px) {
}


/*MD BREAKPOINT*/

@media screen and (min-width: 961px) and (max-width: 1280px) {
}


/*LG BREAKPOINT*/

@media screen and (min-width: 1281px) and (max-width: 1500px) {
}


/*XL BREAKPOINT */

@media screen and (min-width: 1501px) {
}


/*BACKGROUNDS*/

.bg-island-port,
.bg-blue-lagoon-beach {
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-island-port {
    background-image: url(../img/backgrounds/island_port.jpg);
    background-position: top;
}

.bg-blue-lagoon-beach {
    background-image: url(../img/backgrounds/blue_lagoon_beach_iceland.jpg);
    background-position: center;
}


/*FORMS*/

form {
    flex-direction: row;
}

form .col {
    justify-content: start;
}


/*ELLIPSE*/

#ellipse {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
    height: 20rem;
    width: 20rem;
}

.circled-left {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
    height: 20rem;
    width: 20rem;
    clip-path: ellipse(37% 40% at 50% 50%);
    opacity: .20;
    background-image: url(../img/backgrounds/pool_iceland.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/*TYPO*/

.col.text {
    overflow-x: hidden;
    overflow-y: scroll;
}

h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}